<div class="container" style="padding:0px">
  <div style="background-image:linear-gradient(rgba(13, 53, 139, 0.986), rgba(0, 119, 255, 0.432))">
    <div class="col-sm-12" style="font-size: 20px;font-weight: bold">
      <label style="padding-left:10px;color:#fff">Apply Leave
        <hr style="margin-top:2px;margin-bottom:0px;background-color: #ffbd07">
      </label>
    </div>
  </div>

  <form>
    <div class="row" style="margin:2%">
      <div class="col-25" style="width:25%;padding-left:5%">
        <label>From:</label>
      </div>
      <div class="col-60" style="width:60%;padding-left:10%">
        <input type="date" class="form-control" />
      </div>
    </div>
    <div class="row" style="margin:2%">
      <div class="col-25" style="width:25%;padding-left:5%">
        <label>To:</label>
      </div>
      <div class="col-60" style="width:60%;padding-left:10%">
        <input type="date" class="form-control" />
      </div>
    </div>
    <div class="row" style="margin:2%">
      <div class="col-25" style="width:25%;padding-left:5%">
        <label>Type Of Leave:</label>
      </div>
      <div class="col-60" style="width:60%;padding-left:10%">
        <select class="form-control">
          <option>Select</option>
          <option>Earned Leave</option>
          <option>Casual Leave</option>
          <option>Sick Leave</option>
          <option>Paternity Leave</option>
          <option>Leave Without Pay</option>
        </select>
      </div>
    </div>
    <div class="row" style="margin:2%">
      <div class="col-25" style="width:25%;padding-left:5%">
        <label>Remarks:</label>
      </div>
      <div class="col-60" style="width:60%;padding-left:10%">
        <textarea class="form-control" rows="5" cols="75">
          </textarea>
      </div>
    </div>
    <div class="row" style="margin:2%">
      <div class="col-25" style="width:25%;">
       
      </div>
      <div class="col-60" style="width:60%;padding-left:10%">
        <input type="button" value="Submit" class="form-control" style="border-radius:12px;height:100%;width:45%;font-size:13px;padding:5px;background-color: #FFBD5B;color:white"/>
      </div>
    </div>
   
  </form>
</div>