

  <div id="mySidebar" class="sidebar">
    <div align="left">
      <div class="dropdown">
        <div id="myDropdown" class="dropdown-content">
          <br>
          <h3 align="Center" style="color:white">User List</h3>
          <br>
          <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
          <div class='Bind'></div>
          <div class='namelist'>
            <div class='dropdown-btn'>
              <a href='dashboard.php?name=Abhijit Salin&imei=150000'>Abhijit Salin </a>
            </div>
            <br> </div>
        </div>
      </div>
    </div>
  </div>